@model MineFoodsViewModel

<div class="card col-4" style="width: 20rem; ">
    <h5 class="card-title mt-1">@Model.Name</h5>
    <p class="mb-0">Protein: @Model.Protein</p>
    <p class="mb-0">Fat: @Model.Fat</p>
    <p class="mb-0">Carbs: @Model.Carbs</p>
    <p class="mb-0">Grams: @Model.Grams</p>
    <p class="mb-2">Total Calories: @Model.TotalCalories</p>
</div>