@model MineFoodsViewModel
<div class="card" style="width: 18rem;">
    <div class="card-header">
        <p class="fw-bold">@Model.Name</p>
    </div>
    <div class="list-group list-group-flush">
        <p class="list-group-item">Protein: @Model.Protein</p>
        <p class="list-group-item">Fat: @Model.Fat</p>
        <p class="list-group-item">Carbs: @Model.Carbs</p>
        <p class="list-group-item">Grams: @Model.Grams</p>
        <p class="list-group-item">Total Calories per dish: @Model.TotalCalories kcal</p>
    </div>
</div>